In [4]:
#Import SQLLite module

import sqlite3

In [5]:
#Create Movies database

conn = sqlite3.connect('movies.db')
c = conn.cursor()

In [6]:
#Create table ACTOR.
#Columns: actor_id, first_name, last_name, gender, actor_bio  
c.execute('''CREATE TABLE ACTOR
             ([actor_id] SMALLINT(5) PRIMARY KEY,[first_name] varchar(50), [last_name] varchar(50), [gender] text, 
             [actor_bio] text)''')

In [7]:
#Create table MOVIE_ACTOR.
#Columns: actor_id, movie_id
c.execute('''CREATE TABLE MOVIE_ACTOR
             ([actor_id] SMALLINT(5) , [movie_id] SMALLINT(5))''')

In [10]:
#Create table MOVIE.
#Columns: movie_id, title, description, language, length, rating, category
c.execute('''CREATE TABLE MOVIE ([movie_id] SMALLINT(5) PRIMARY KEY, [title] varchar(255), [description] text, 
          [language] CHAR(30), [length] SMALLINT(5), [rating] CHAR(5), [category] VARCHAR(30))''')

In [14]:
#Query data from a table
#A sample query below

c.execute("SELECT * FROM ACTOR")

rows = c.fetchall()

for row in rows:
    print(row)